[settings]
experimental = true
idiomatic_version_file_enable_tools = []

[tools]
# minimal set
age = "latest"
fd = "latest"
gum = "latest"
ripgrep = "latest"
sops = "latest"
yazi = "latest"

{{- if eq .chezmoi.os "linux" "darwin" }}
carapace = "latest"
starship = "latest"
zellij = "latest"
{{- end }}

{{- if eq .chezmoi.os "linux" }}
"ubi:nushell/nushell" = { version = "latest", extract_all = true }
{{- end }}

{{- if eq .variant "full" }}
# full set
bun = "latest"
fzf = "latest"
gh = "latest"
lazygit = "latest"
node = "latest"

{{- if eq .chezmoi.os "linux" "darwin" }}
neovim = "latest"
tree-sitter = "latest"
{{- end }}
{{- end }}
