[submodule "airline"]
	path = files/_config/nvim/pack/default/start/airline
	url = https://github.com/bling/vim-airline
	ignore = dirty
[submodule "catppuccin"]
	path = files/_config/nvim/pack/default/start/catppuccin
	url = https://github.com/catppuccin/nvim
	ignore = dirty
[submodule "sleuth"]
	path = files/_config/nvim/pack/default/start/sleuth
	url = https://github.com/tpope/vim-sleuth
	ignore = dirty
