[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty

# general shell
[submodule "fzf"]
	path = files/fzf
	url = https://github.com/junegunn/fzf
	ignore = dirty

# fish modules
[submodule "hydro"]
	path = files/_config/fish/modules/hydro
	url = https://github.com/jorgebucaran/hydro
	ignore = dirty

# nvim
[submodule "airline"]
	path = files/_config/nvim/pack/default/start/airline
	url = https://github.com/bling/vim-airline
	ignore = dirty
[submodule "catppuccin"]
	path = files/_config/nvim/pack/default/start/catppuccin
	url = https://github.com/catppuccin/nvim
	ignore = dirty
[submodule "sleuth"]
	path = files/_config/nvim/pack/default/start/sleuth
	url = https://github.com/tpope/vim-sleuth
	ignore = dirty
