[
  {{- if eq .chezmoi.os "windows" }}
  {
    "bindings": {
      "ctrl-c": "editor::Copy",
      "ctrl-x": "editor::Cut",
      "ctrl-v": "editor::Paste",
      "ctrl-a": "editor::SelectAll",
      "ctrl-f": "search::FocusSearch",
      "ctrl-s": "workspace::Save",
    },
  },
  {{- end }}
  {
    "context": "(!Editor && !Terminal) || vim_mode==normal",
    "bindings": {
      "space a": "project_panel::ToggleFocus",
      "space r": "git_panel::ToggleFocus",
      "space t": "task::Spawn",
      "space g g": ["task::Spawn", { "task_name": "🦊 lazygit" }],
      "space g l": ["task::Spawn", { "task_name": "🦊 lazygit log" }],
      "space space": "file_finder::Toggle",
      "space tab": "editor::ToggleFocus",
    },
  },
]
